<%- include('osapohjat/header'); %>
<body>
  <main>
    <section id="main-text">
      <!-- <h1>Tervetuloa Sakilaan: Kohti Huippuluokan Palveluita</h1>
      <p>
        Sakila on innovatiivinen yritys, joka on omistautunut tarjoamaan
        asiakkailleen ensiluokkaisia palveluita ja ratkaisuja. Ylpeänä
        esittelemme Sakilan, joka on kulmakivemme ja sitoutumisemme tulos
        laadukkaaseen palveluun sekä kestäviin liiketoimintakäytäntöihin.
      </p> -->
    </section>
    <h1 id="suosituimmat">Suosituimmat elokuvamme</h1>
    <div class="sisältö">
      <div class="rivit"></div>
    </div>
  </main>
</body>
<script>
  fetch("/data")
    .then((response) => response.json())
    .then((data) => {
      const elokuvatDiv = document.querySelector(".rivit");

      data.elokuvat.forEach((elokuva) => {
        const div = document.createElement("div");
        div.classList.add("elokuva");

        const otsikko = document.createElement("h2");
        otsikko.textContent = elokuva.title;

        const kuvaus = document.createElement("p");
        kuvaus.textContent = elokuva.description;

        const elokuvanPituus = document.createElement("p");
        elokuvanPituus.textContent = "Length: " + elokuva.length + "min";

        div.appendChild(otsikko);
        div.appendChild(kuvaus);
        div.appendChild(elokuvanPituus);

        elokuvatDiv.appendChild(div);
      });
    })
    .catch((error) => console.error("Virhe haettaessa tietoja:", error));
</script>
<%- include('osapohjat/footer'); %>
