<footer>
    <div id="under-line">
      <img src="/photos/logo_tummapohja.png" alt="" height="100px" />
      <div id="info">
        <h2>Ota Yhteyttä</h2>
        <p id="ala-laita">Email: Sakila.email@gmail.com</p>
        <p id="ala-laita">Puh: +358 382876594</p>
      </div>
    </div>
  </footer>
</body>
</html>