<footer>
    <div id="under-line">
      <img src="/photos/logo_tummapohja.png" alt="" height="100px" />
      <div id="info">
        <h2>Ota Yhteyttä</h2>
        <p>Email: <a href="" id="ala-laita">Sakila.email@gmail.com</a></p>
        <p>Puh: <a href="" id="ala-laita">+358 382876594</a></p>
      </div>
    </div>
  </footer>
<body>
<html>