<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Document</title>
  </head>
  <header>
    <div id="nav-bar">
      <div id="logo-text">
        <img src="/photos/logo_tummapohja.png" alt="" width="100px" />
        <h1>Sakila Oy</h1>
      </div>
      <div id="search">
        <input type="text" name="search" id="search-input" placeholder="Hae" />
        <button>Hae</button>
      </div>
    </div>
  </header>


